.downicon{
    float: center;
    display: red;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .title{
    color: purple;
  }